<app-cp-single-content>Bujala</app-cp-single-content>: Reddy
<app-cp-multi-content>
    <div question>
        <h1><strong> Parameter to Multi slot content</strong></h1>
       <h3><strong><em> Is content projection cool? </em></strong> </h3>
    </div>
    <h3><em> Defatult content, Let's learn about content projection!</em></h3>

    <h3><em> Defatult content 2, Let's learn about content projection!</em></h3>
    <section>Testing </section>
    <hr>

    <div testing>
        <h1><strong> Testing Parameter to Multi slot content</strong></h1>
       <h3><strong><em> Testing Is content projection cool? </em></strong> </h3>
    </div>
</app-cp-multi-content>
